:root {
  --main-font: 'IBM Plex Mono', 'Courier New', Courier, monospace;
  --background-image_page: url(../images/cover-image-dark.png);
  --accent-light-color: #FF0070;
  --accent-back-color: #000028;
  --section-title-color: #FF0070;
  --title-color-text: #DB00FF;
  --main-text-color: #F1B2CE;
  --focus-title-color: #DB00FF;
  --block-title-color: #000028;
  --coner-color: #FF0070;
  --menu-color: #FF0070;
  --transparent-accent-color: rgb(255 0 112 / .4);
  --display-rec: inline-block;
  --gap-xs: 10px;
  --gap-s: 20px;
  --gap-m: 40px;
  --gap-xl: 79px;
}